In [2]:
import os
import pandas as pd

In [3]:
data = pd.read_csv('/Volumes/T7/data/HAM10000/HAM10000_metadata')
data.head()

,lesion_id,image_id,dx,dx_type,age,sex,localization,dataset
0,HAM_0000118,ISIC_0027419,bkl,histo,80.0,male,scalp,vidir_modern
1,HAM_0000118,ISIC_0025030,bkl,histo,80.0,male,scalp,vidir_modern
2,HAM_0002730,ISIC_0026769,bkl,histo,80.0,male,scalp,vidir_modern
3,HAM_0002730,ISIC_0025661,bkl,histo,80.0,male,scalp,vidir_modern
4,HAM_0001466,ISIC_0031633,bkl,histo,75.0,male,ear,vidir_modern

In [4]:
data['image_id'], data['dx']

(0        ISIC_0027419
 1        ISIC_0025030
 2        ISIC_0026769
 3        ISIC_0025661
 4        ISIC_0031633
              ...
 10010    ISIC_0033084
 10011    ISIC_0033550
 10012    ISIC_0033536
 10013    ISIC_0032854
 10014    ISIC_0032258
 Name: image_id, Length: 10015, dtype: object,
 0          bkl
 1          bkl
 2          bkl
 3          bkl
 4          bkl
          ...
 10010    akiec
 10011    akiec
 10012    akiec
 10013    akiec
 10014      mel
 Name: dx, Length: 10015, dtype: object)

In [5]:
classes = data['dx'].unique()
classes

array(['bkl', 'nv', 'df', 'mel', 'vasc', 'bcc', 'akiec'], dtype=object)

In [9]:
import numpy as np

with open(os.path.join(os.getcwd(), 'data_txt/ham1000_train.txt'), 'a') as f:
  for i in range(len(data['image_id'])):
    f.write(
      os.path.join('/Volumes/T7/data/HAM10000/HAM10000_metadata/train/', data['image_id'][i] +
                   '.jpg') + ' ' + str(np.where(data['dx'][i] == classes)[0][0]) + '\n')

In [10]:
# test
test = pd.read_csv('/Volumes/T7/data/HAM10000/ISIC2018_Task3_Test_GroundTruth.csv')
test.head()

,lesion_id,image_id,dx,dx_type,age,sex,localization,dataset
0,HAMTEST_0000000,ISIC_0034524,nv,follow_up,40.0,female,back,vidir_molemax
1,HAMTEST_0000001,ISIC_0034525,nv,histo,70.0,male,abdomen,rosendahl
2,HAMTEST_0000002,ISIC_0034526,bkl,histo,70.0,male,back,rosendahl
3,HAMTEST_0000003,ISIC_0034527,nv,histo,35.0,male,trunk,vienna_dias
4,HAMTEST_0000004,ISIC_0034528,nv,follow_up,75.0,female,trunk,vidir_molemax

In [11]:
with open(os.path.join(os.getcwd(), 'data_txt/ham10000_test.txt'), 'a') as f:
  for i in range(len(test['image_id'])):
    f.write(
      os.path.join('/Volumes/T7/data/HAM10000/test/', test['image_id'][i] + '.jpg') + ' ' +
      str(np.where(test['dx'][i] == classes)[0][0]) + '\n')

In [13]:
data['dx'].value_counts()

dx
nv       6705
mel      1113
bkl      1099
bcc       514
akiec     327
vasc      142
df        115
Name: count, dtype: int64

In [14]:
test['dx'].value_counts()

dx
nv       909
bkl      217
mel      171
bcc       93
df        44
akiec     43
vasc      35
Name: count, dtype: int64